* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: white;
}

hr {
    content: '';
    width: 70%;
    height: 5px;
    background: #132845;
    margin: 0 auto;
}

#nav-bar {
    position: sticky;
    top:0;
    z-index: 10;
    padding: 0;
    background: #1A73E8;
}

.navbar-nav .active:hover {
    background: #132845;
    color: white;
    border-radius: 5%;
    transition: .5s;
}

.navbar-nav 

#nav-bar i {
    color: #1A73E8;
    font-size: 25px;
}

.fa-bars:before {
    color: white;
}

.top-section .navbar-brand {
    font-weight: 700;
    font-size: 30px;
    color: white;
    padding-left: 0px;
}

.navbar-nav li {
    padding: 0 20px;
}

.navbar-nav li a {
    color: white !important;
    font-weight: 600;
}

.top-section button {
    background: #132845;
    font-size: 25px;
}

.main-title {
    font-size: 60px;
    margin-top: 100px;
    font-weight: 700;
    color: white;
}

.legal-title {
    font-size: 50px;
    margin-top: 100px;
    font-weight: 700;
    color: white;
}

#banner {
    background: #1A73E8;
}

#banner img {
    height: 600px;
    display: cover;
    margin-top: 40px;
    margin-bottom: 40px;
    /* margin-right: 100px; */
}

#banner p {
    color: white;
}

#banner span {
    color: #132845;
}

#team {
    background: #1A73E8;
    color: white;
    padding: 50px 0;
}

.section-title::before {
    content: '';
    background: #1A73E8;
    height: 5px;
    width: 200px;
    margin:0 auto;
    display: block;
    transform: translateY(63px);
}

.section-title::after {
    content: '';
    background: #132845;
    height: 10px;
    width: 50px;
    margin:0 auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

.team-members {
    /* border-left: 4px solid #132845;*/
    margin-top: 50px;
    margin-bottom: 50px;
}

.team-border {
    border-left: 4px solid #132845;
}

.team-members img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 20px 30px;
}

.user-details {
    display: inline-block;
    font-size: 18px;
}

#screenshots {
    padding: 50px 0;
}

#features {
    padding: 70px 0;
    background: #1A73E8;
    color: white;
}

#features .card-header {
    color: white;
    font-size: 20px;
    font-weight: 700;
    background: #132845;
    padding: 0.75rem;
}

.card {
    width: 22rem;
    margin: auto auto;
    border-radius: 6px;
    text-align: center;
	/*overflow: hidden;*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 0.5rem;
}

.card-title {
    color: #1A73E8;
}

.card-text {
    font-size: 13px;
    color: #132845;
}

.device-card {
    padding: 0.75rem;
}

.card:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}

#download {
    padding: 50px 0px;
    margin-bottom: 25px;
}

#download a {
    text-decoration: none;
}

#download img {
    height: 400px;
    width: 600px;
    display: cover;
}

#download .download-title {
    margin-top: 90px;
}

#download h1 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    color: #132845;
}

.btn a {
    color: #3d5af1;
}

.btn:hover {
    background: #132845;
    color: white;
    border:1px solid #0e153a;
}
.btn-outline-primary {
    border: 1px solid #3d5af1;
}

#legal {
    padding: 50px 10px;
}

#legal h2 {
    font-size: 30px;
    color: #1A73E8;
}
#legal i {
    color: #132845;
}

#legal h1 {
    text-align: center;
    margin-bottom: 60px;
}

.sec-title::before {
    content: '';
    background: #132845;
    height: 5px;
    width: 200px;
    margin:0 auto;
    display: block;
    transform: translateY(63px);
}

.sec-title::after {
    content: '';
    background: white;
    height: 10px;
    width: 50px;
    margin:0 auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

#social-media {
    padding: 40px 0;
    /* margin-bottom: 25px; */
    background: white;
}

#social-media p {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 50px;
}

.social-title::before {
    content: '';
    background: #1A73E8;
    height: 5px;
    width: 200px;
    margin:0 auto;
    display: block;
    transform: translateY(63px);
}

.social-title::after {
    content: '';
    background: #132845;
    height: 10px;
    width: 50px;
    margin:0 auto;
    margin-bottom: 45px;
    display: block;
    transform: translateY(2px);
}

#social-media i {
    font-size:70px;
    transition: 0.5s;
}

#social-media a {
    text-decoration: none;
}

#social-media a:hover i {
    transform: translateY(-10px);
}

#social-media .fa-github {
    color: #000;
}

#social-media .fa-telegram {
    color: #0088cc;
}

#social-media .fa-paypal {
    color: #032f86;
}

#footer {
    background: black;
    color: white;
    line-height: 7vh;
    margin-bottom: 0;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 540px;
}

.swiper-slide .img-box {
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.swiper-slide .img-box img {
    width: 100%;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #1a73e8;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 24px;
}

#back-to-top:hover {
    background-color: white;
    color: #1a73e8;
}

.device-sec {
    padding-top: 60px;
}
