*  {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}


hr {
    content: '';
    width: 70%;
    height: 5px;
    background: #132845;
    margin: 0 auto;
}

#nav-bar {
    position: sticky;
    top:0;
    z-index: 10;
    padding: 0;
    background: #1A73E8;
}

.navbar-nav .active:hover {
    background: #132845;
    color: #fff;
    border-radius: 5%;
    transition: .5s;
}

.navbar-nav 

#nav-bar i {
    color: #1A73E8;
    font-size: 25px;
    
}

.fa-bars:before {
    color: #fff;
}

.top-section .navbar-brand {
    font-weight: 900;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 20px;
}

.navbar-nav li {
  padding: 0 20px;
  margin-left: 28px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    
}

.top-section button {
    background: #132845;
    font-size: 25px;
}


.main-title {
    font-size: 60px;
    margin-top: 100px;
    font-weight: 900;
    color: #FFF;
}

.legal-title {
    font-size: 50px;
    margin-top: 100px;
    font-weight: 700;
    color: #FFF;
}

#banner {
    background: #1A73E8;
}

#banner img {
    height: 600px;
    display: cover;
    margin-top: 50px;
    /* margin-right: 100px; */
}

#banner p {
    color: #fff;
}

#banner span {
    color: #132845;
}

#team {
    padding: 100px 0;
}


.team-title::before {
    content: '';
    background: #1A73E8;
    height: 5px;
    width: 200px;
    margin:0 auto;
    display: block;
    transform: translateY(63px);
}


.team-title::after {
    content: '';
    background: #132845;
    height: 10px;
    width: 50px;
    margin:0 auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

.team-members {
       /* border-left: 4px solid #132845;*/
        margin-top: 50px;
        margin-bottom: 50px;   
}

.team-border {
        border-left: 4px solid #132845;   
}

.team-members img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details {
    display: inline-block;
    font-size: 12px;
}

#feature {
    padding: 70px 0;
    background: #1A73E8;
    color: #fff;

}

#feature .card-header {
    color: #e2f3f5;
    font-size: 20px;
    font-weight: 700;
    background: #132845;
    padding: 0.75rem;
}

.card {
	width: 22rem;
    margin: auto auto;
	border-radius: 6px;
	text-align: center;
	/*overflow: hidden;*/
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	padding: 0.5rem;
}


.card .list-group {
    color: #132845;
}

.card ul li {
    background: transparent;
}

.card .list-group-item {
    font-size: 14px;
}

.card-text {
    font-size: 13px;
}

.device-card {
  padding: 0.75rem;
}

.card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}


#download {
    padding: 50px 0px;
    margin-bottom: 25px;
}

#download a {
    text-decoration: none;
    
}

#download img {
    height: 400px;
    width: 600px;
    display: cover;
}
#download .download-title {
    margin-top: 90px;
}

#download h1 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    color: #132845;
}

.btn a {
    color: #3d5af1;
}

.btn:hover {
    background: #132845;
    color: #e2f3f5;
    border:1px solid #0e153a;
}
.btn-outline-primary {
    border: 1px solid #3d5af1;
}

#about {
    padding: 50px 10px;
}

#about h2 {
    font-size: 30px;
    color: #1A73E8;
}
#about i {
    color: #132845;
}

#about h1 {
    text-align: center;
    margin-bottom: 60px;
}

#legal {
    padding: 50px 10px;
}

#legal h2 {
    font-size: 30px;
    color: #1A73E8;
}
#legal i {
    color: #132845;
}

#legal h1 {
    text-align: center;
    margin-bottom: 60px;
}

.about-title::before {
    content: '';
    background: #1A73E8;
    height: 5px;
    width: 200px;
    margin:0 auto;
    display: block;
    transform: translateY(63px);
}


.about-title::after {
    content: '';
    background: #132845;
    height: 10px;
    width: 50px;
    margin:0 auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}


#social-media {
    padding: 40px 0;
    /* margin-bottom: 25px; */
    background: #e2f3f5;
}

#social-media p {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 50px;
}

.social-title::before {
    content: '';
    background: #1A73E8;
    height: 5px;
    width: 200px;
    margin:0 auto;
    display: block;
    transform: translateY(63px);
}


.social-title::after {
    content: '';
    background: #132845;
    height: 10px;
    width: 50px;
    margin:0 auto;
    margin-bottom: 45px;
    display: block;
    transform: translateY(2px);
}


#social-media i {
    font-size:70px;
    transition: 0.5s;
}

#social-media a {
    text-decoration: none;
}

#social-media a:hover i {
    transform: translateY(-10px);
}

#social-media .fa-github {
    color: #000;
}

#social-media .fa-telegram {
    color: #3dc9e3;
}

#social-media .fa-paypal {
    color: #032f86;
}

#footer {
    background: black;
    color: #fff;
    line-height: 7vh;
    margin-bottom: 0;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 540px;
}

.swiper-slide .img-box {
      width: 100%;
      height: 650px;
      overflow: hidden;
}

.swiper-slide .img-box img {
      width: 100%;
}

/* Back to top button */

#back-to-top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #1a73e8;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
}

#back-to-top:hover {
  background-color: #263238;
}
